{% extends "eopBlogBundle:Default:red_layout.html.twig" %}

{% block body %}
<div class="blockMain">
    <img src="{{images}}err/warn.png" style="float:left; width:420px;">
    <p style="font-size:5em; text-align: center"><b>Erreur</b></p>
    <p style="font-size:3.5em; padding-top:60px;">Cet séance n'existe pas</p>
    <div class="clear"></div>
</div>
{% endblock %}

{% block titre %}Erreur{% endblock %}