html {
    min-width: 480px;
}
.dates {
    display:none;
}
.menu {
    float: none;
    width:100%;
    height:auto;
    text-align: center;
}

.menu .menuBtn {
    display:inline-table;
    font-size: 1em;
    font-weight: normal;
    line-height: 30px;
    margin:5px 0px;
    padding: 0px 8px;
}

.menu .menuBtn img{
    padding:0px 10px;
    height:20px; 
}

.menu .menuBtn img:hover{
  transform: rotate(-10deg);
}

.page {
    margin: 10px 10px 10px 10px;
}

.citation {
    display: none;
}

.header .edition {
    display:none;
}

.header {
    min-width: 480px;
    background-position-y:50px;
}

.header .drapeau {
    position: absolute;
    top:0px;
    right:0px;
}

.header .dates {
    position:absolute;
    top:40px;
    right:0px;
}



.archive2015Home .logo {
    position:absolute; 
    top:100px; 
    right:120px;
}
.archive2015Home .logo .imgLogo{
    width:480px;
    height:315px;
}

.archive2015Home .logo .edition3 {
    position:absolute;
    top:-5px;
    right:-100px;
    height:80px;
    width:225px;
    line-height: 80px;
    font-size: 32px;

    /* Firefox */
    -moz-transform:rotate(35deg);
    /* Safari and Chrome */
    -webkit-transform:rotate(35deg);
    /* Opera */
    -o-transform:rotate(35deg);
    /* IE9 */
    -ms-transform:rotate(35deg);
}

.archive2015Home .fleche .imgFleche {
    display:none
}