.block {
    position:relative;
    top:-130px;
    right: auto;
    left:420px;
    text-align: center;
    height: 100px;
    width: 600px;
}

.citation {
    display:none;
}
.archive2015Home .fleche {
    top:400px; 
    right:0px;
    width:155px;
    height : 155px
}

.archive2015Home .fleche .imgFleche {
    height : 150px;
    width : 150px;
}

.archive2015Home .logo {
    position:absolute; 
    top:100px; 
    right:200px;
}
.archive2015Home .logo .imgLogo{
    width:480px;
    height:315px;
}

.archive2015Home .logo .edition3 {
    position:absolute;
    top:-5px;
    right:-100px;
    height:80px;
    width:225px;
    line-height: 80px;
    font-size: 32px;

    /* Firefox */
    -moz-transform:rotate(40deg);
    /* Safari and Chrome */
    -webkit-transform:rotate(40deg);
    /* Opera */
    -o-transform:rotate(40deg);
    /* IE9 */
    -ms-transform:rotate(40deg);
}

.archive2015Home .logo .edition3 .eme {
    display: inline-block;
    height:75px;
    top:-1em;
    font-size:0.5em;
    position:relative; 
}
/*
.paypalForm select {
     width:300px;
}
*/